# ENV FILES (SECRETS)
.env
app/.env

# PYTHON (Backend)
__pycache__/
*.py[cod]
venv/
.env/

# FRONTEND
app/node_modules/
app/dist/
app/.vite/

# LOG FILES
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS FILES
.DS_Store
Thumbs.db

# EDITORS
.vscode/
.idea/
